<div class="jumbotron">
  <h1>Find the eggsact local artisanal foods and beverages that you are after with Eggsactly.</h1>
  <p></p>
  <p>
    <%= link_to "See the local artisanal products that you can buy",
          products_path,
          :class => "btn btn-success btn-lg",
          :role => "button" %>
  </p>
  <p><a class="btn btn-info btn-lg" href="/stores" role="button">Find out where to buy them</a></p>
  <p><a class="btn btn-warning btn-lg" href="/sources" role="button">Learn about the farmers</a></p>
</div>
