<style type="text/css">
  #map {
    height: 700px;
    border: 1px solid #000;
  }
</style>

<div class="page-header">
  <h1>
    Local artisanal foodstuffs
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
   <div id="map">
    <!-- placeholder for the google map -->
   </div>


   <ul style="display:none">
     <% @stores.each do |store| %>
       <li id="store-<%= store.id%>">
         <h4><%= link_to store.name, store %></h4>
         phone
         website
         ....
       </li>
     <% end %>
   </ul>

  </div>
</div>

<hr>

<script type="text/javascript">
  window.DataSet = <%= @stores.to_json.html_safe %>;

  window.onload = function() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        var currentPosition = new google.maps.LatLng(
          position.coords.latitude,
          position.coords.longitude
        );

        var map = new google.maps.Map(document.getElementById('map'), {
          center: currentPosition,
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var markers = [];

        for (var i = 0; i < window.DataSet.length; i++) {
          var place = window.DataSet[i];
          var position = new google.maps.LatLng(place.latitude, place.longitude);
          var marker = new google.maps.Marker({
            position: position,
            map: map,
            draggable: false
          });
          markers.push({ marker: marker, place: place })
        };

      });
    }
  };
</script>
